body
{
    
}

.slider {
    width:640px; height:426px;
    margin: 0 auto;
    position: relative;

}
.slider_item {
    position: absolute;
    top: 0;
    z-index:0;
}

.showing {
    z-index:1;
}
